.features {
	@extend %section;
}
.features__list {
	//tablet screen and wider
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
	}
}
.features__card {
	width: 450px;

	//tablet screen
	@media screen and (min-width: 768px) {
		width: 354px;
	}

	//desktop screen
	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}
.features__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--team-background);
	margin-bottom: 30px;
	border-radius: 4px;
	width: 100%;
	height: 120px;
}

.features__card:last-child {
	margin-right: 0;
}
.features__subheader {
	display: block;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	text-align: center;
	color: var(--header-color);
	margin-bottom: 10px;

	//tablet screen
	@media screen and (min-width: 768px) {
		text-align: left;
	}
}
.features__text {
	line-height: calc(24 / 14);
}
