.page-header {
	border-bottom: 1px solid #ececec;
	padding: 16px 0;

	//tablet screen and desktop
	@media screen and (min-width: 768px) {
		padding: 0;
	}
}
.header-flex {
	display: flex;
	align-items: center;
}
.header__contacts {
	display: none;

	//tablet screen
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: center;
		margin-left: 96px;
	}
	@media screen and (max-width: 1199px) {
		flex-direction: column;
		gap: 10px;
		padding: 21px 0;
	}

	//desktop screen
	@media screen and (min-width: 1200px) {
		margin-left: auto;
	}
}
.header__contact {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--main-text-color);
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.02em;
	transition: color var(--animation-type);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 32px;
		font-size: 14px;
		line-height: calc(16 / 14);
	}
}
.header__contacts .header__contact + .header__contact {
	//desktop screen
	@media screen and (min-width: 1200px) {
		margin-left: 50px;
	}
}
.header__icon {
	fill: currentColor;
}
