.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) scale(120%);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 528px;
	height: 581px;
	background-color: var(--main-background);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform var(--animation-type), opacity var(--animation-type);
}
.modal-form {
	margin-left: 40px;
	margin-right: 40px;
}
.modal-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 0;
	background: var(--main-background);
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: bacground-color var(--animation-type);
}
.modal-btn:hover {
	color: var(--accent-color);
}
.modal-icon {
	fill: currentColor;
}
.modal-title {
	display: block;
	margin-top: 40px;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--header-color);
}
.modal-form-group {
	margin-bottom: 20px;
}
.modal-form-agree {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	margin-bottom: 30px;
}
.modal-form-message {
	display: block;
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline-color var(--animation-type);
}
.modal-form-message:focus {
	outline-color: var(--accent-color);
}
.modal-form-message::placeholder {
	font-size: 12px;
	color: rgba(117, 117, 117, 0.5);
}

.modal-form-label {
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: var(--main-text-color);
}
.modal-form-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: relative;
}
.modal-form-field {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline-color var(--animation-type);
}
.modal-form-field:focus {
	outline-color: var(--accent-color);
}
.modal-form-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	transition: fill var(--animation-type);
}
.modal-form-field:focus + .modal-form-icon {
	fill: var(--accent-color);
}
.agree-label {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	user-select: none;
}
.agree-link {
	color: var(--accent-color);
	text-underline-offset: 3px;
}
.modal-form-btn {
	display: block;
	width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
.uncheck {
	opacity: 1;
}
.modal-form-checkbox:checked + .modal-form-agree-icon .uncheck {
	opacity: 0;
}

.check {
	opacity: 0;
	transition: var(--animation-type);
}
.modal-form-checkbox:checked + .modal-form-agree-icon .check {
	opacity: 1;
	transition: var(--animation-type);
}
