.main-nav {
	display: flex;
	align-items: center;
}
.main-nav__list {
	display: flex;
	margin-left: 93px;
	margin-right: auto;
}
.main-nav__item:not(:last-child) {
	margin-right: 50px;
}
.main-nav__link {
	display: block;
	color: var(--header-color);
	font-weight: 500;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.main-nav__link--current {
	@extend .main-nav__link;
	color: var(--accent-color);
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--accent-color);
	}
}
