.team {
	@extend %section;
	background-color: var(--team-background);
}
.team__list {
	display: flex;
}
.team__card {
	width: 270px;
	margin-right: 30px;
	background-color: var(--main-background);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__card:last-child {
	margin-right: 0;
}
.team__member {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	color: var(--header-color);
	margin-bottom: 10px;
}
.team__job {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	margin-bottom: 16px;
}
.team__about {
	padding-top: 30px;
	padding-bottom: 30px;
}
