:root {
	--accent-color: #2196f3;
	--active-button: #188ce8;
	--header-color: #212121;
	--main-text-color: #757575;
	--main-background: #ffffff;
	--secondary-backgound: #2f303a;
	--team-background: #f5f4fa;
	--animation-type: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
